
.default-color1.chart-bar { -fx-bar-fill: #FFB7B2; }
.default-color2.chart-bar { -fx-bar-fill: #FFDAC1; }
.default-color3.chart-bar { -fx-bar-fill: #E2F0CB; }
.default-color4.chart-bar { -fx-bar-fill: #B5EAD7; }
.default-color5.chart-bar { -fx-bar-fill: #C7CEEA; }
.default-color0.chart-bar { -fx-bar-fill: #FF9AA2; }

#menuVBox {
    -fx-background-color: #f5e1d6;
    -fx-padding: 20;
    -fx-spacing: 15;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #363636;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 2);
}

.button:pressed {
    -fx-background-color: #d0d0d0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1);
}

.table-view .column-header-background {
    -fx-background-color: #c7ceea;
    -fx-background-radius: 2px 2px 0 0;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #363636;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-padding: 10;
    -white-space: nowrap;
    -width: auto;
}

.table-view .table-cell {
    -fx-text-fill: #363636;
    -fx-font-size: 13px;
    -fx-padding: 4;
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

/* striped rows*/
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #f5e1d6;
    -fx-text-fill: #363636;
}

.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 5px;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #d0d0d0;
}

.tips-popup {
    -fx-background-color: #eecfda;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 1);
    -fx-padding: 10px 12px;
}

.attack-type-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #8a4b57;
    -fx-padding: 0 0 3px 0;
}

.tips-content {
    -fx-font-size: 12px;
    -fx-text-fill: #482b37;
    -fx-line-spacing: 3px;
    -fx-wrap-text: true;
}